@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-div {
        @apply
        flex flex-col 
        justify-center 
        items-center 
        h-svh
    }

    .default-box {
        @apply 
        bg-slate-200 dark:bg-slate-800
        rounded-md overflow-hidden
        shadow-sm
    }

    .chat-input-box {
        @apply
        bg-slate-400 dark:bg-slate-600
        rounded-md overflow-hidden
        shadow-sm
    }

    .default-box-inner {
        @apply
        flex flex-col
        bg-slate-300 
        dark:bg-slate-700 
        rounded-lg 
        shadow-sm
        p-3 gap-1
    }
    .default-button {
        @apply
        flex
        bg-slate-400 dark:bg-slate-600
        hover:bg-slate-300
        hover:dark:bg-slate-500
        hover:text-white
        transition
        duration-200
        rounded-md
        items-center
    }

    .confirm-button {
        @apply
        flex
        bg-blue-400 dark:bg-blue-600
        hover:bg-blue-300
        hover:dark:bg-blue-500
        transition
        duration-200
        rounded-md
        items-center

    }

    .default-radio {
        @apply
        w-5 h-5 
        cursor-pointer
        dark:bg-slate-800
        shadow border-2 border-gray-500
        rounded-full
        transition
        duration-200
        
    }

    .default-input {
        @apply
        px-2 py-1
        bg-slate-100 dark:bg-slate-500
        focus:outline
        focus:outline-2
        focus:-outline-offset-2 
        focus:dark:outline-white
        focus:outline-slate-500
        rounded-md
    }

    .listItem-user {
        @apply
        flex flex-row
        items-center
        p-2
        cursor-pointer
        border-2
        hover:bg-blue-500
        border-blue-500
        bg-none
        duration-200
        transition
        rounded-md
        
    }

    .confirm-button {
        @apply
        flex
        bg-green-500 dark:bg-green-600
        hover:bg-green-400
        hover:dark:bg-green-500
        text-white
        transition
        duration-200
        rounded-md
        items-center
    }

    .decline-button {
        @apply
        flex
        bg-red-500 dark:bg-red-600
        hover:bg-red-400
        hover:dark:bg-red-500
        text-white
        transition
        duration-200
        rounded-md
        items-center
    }

    .default-chat-item {
        @apply
        flex 
        rounded-md
        px-2
    }
}