@import "tailwindcss";
@import "@heroui/styles";

/* CSS for Embla */
.embla {
    --slide-size : 100%
}

.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
}

.embla__slide {
    flex : 0 0 var(--slide-size);
    min-width: 0;
}
